/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*
/utils/
/use-payment-inputs/
/images/
/PaymentInputsWrapper/
/PaymentInputsContainer/
/usePaymentInputs/
/utils\validator/
/utils\index/
/utils\formatter/
/utils\cardTypes/
/images\visa/
/images\unionpay/
/images\placeholder/
/images\mastercard/
/images\jcb/
/images\index/
/images\hipercard/
/images\discover/
/images\dinersclub/
/images\amex/
